html, body {
    font-size: 16px;
    color: #dfdfdf;
    background-color: #063647; 
}

a {
    color: #00d1b2;
}

a:hover {
    color: #00b3a3; /* Changed hover color for better visibility */
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-1 {
    background: #063647;
}

.section-2 {
    background-color: #052D3D;
}

.section-3 {
    background-color: #0E282E;
}

.section-4 {
    background-color: #063647;
}

.social-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    justify-content: center; /* Center aligns the items */
}

.social-container .column {
    flex: 1 1 50%; /* Allows each column to take up 50% of the width on larger screens */
    max-width: 50%; /* Ensures that columns do not exceed 50% */
}

@media screen and (max-width: 768px) {
    .social-container .column {
        flex: 1 1 100%; /* On smaller screens, each column takes full width */
        max-width: 100%; /* Ensures columns take full width */
    }

    .nav-menu {
        background-color: #063647;
    }

    .nav-toggle:hover {
        background-color: transparent;
    }

    .nav-toggle span {
        background-color: #dfdfdf;
    }

    .nav-toggle span:hover {
        background-color: #fff;
    }
}

a.nav-item {
    color: #dfdfdf;
}

a.nav-item:hover {
    color: #fff;
}

.avatar {
    height: 200px;
    border-radius: 50%;
}

.intro {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.social-container img {
    max-width: 100%;
    max-height: 175px;
    margin-bottom: 15px;
}

.project-figure {
    margin: 0 auto 1rem auto;
    max-height: 256px;
    max-width: 256px;
}

.project-text {
    text-align: justify;
}

.box {
    background-color: transparent;
    border: 2px solid rgba(7, 59, 79, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box shadow */
}

.title {
    color: #fff;
    text-align: left;
    margin-bottom: 2rem;
}

.void-background {
    background-color: transparent; 
}
